vertxOptions:
  eventLoopPoolSize: 1
  workerPoolSize: 1
  internalBlockingPoolSize: 1

deploymentOptions:
  instances: 1

authenticationEnabled: false

authentication:
  jwt:
    jwksUrl: 'http://localhost:9090/default/jwks'
    options:
      issuer: 'http://localhost:9090/default'
      ignoreExpiration: true

authorizationEnabled: false

authorization:
  superUsers: [ "thanos" ]
  providerClassName:
  providerOptions:

platformOptions:
  configFile: 'src/main/resources/pulsarConfig.yml'

dbOptions:
  configFile: 'src/main/resources/zkConfig.yml'
