vertxOptions:
  eventLoopPoolSize: 1
  workerPoolSize: 1
  internalBlockingPoolSize: 1

restVerticleDeploymentOptions:
  instances: 2
  worker: true
  workerPoolSize: 2

authenticationEnabled: false

authentication:
  jwt:
    jwksUrl: 'http://localhost:9090/default/jwks'
    options:
      issuer: 'http://localhost:9090/default'
      ignoreExpiration: true

authorizationEnabled: false

authorization:
  superUsers: [ "thanos" ]
  providerClassName:
  providerOptions:

messagingStackOptions:
  providerClassName: "com.flipkart.varadhi.pulsar.PulsarStackProvider"
  configFile: 'src/main/resources/pulsarConfig.yml'

metaStoreOptions:
  providerClassName: "com.flipkart.varadhi.db.ZookeeperProvider"
  configFile: 'src/main/resources/zkConfig.yml'

varadhiDeploymentConfig:
  port: 8080
