################################################################
# ConfigMap for Varadhi component getting deployed.
# Actual config keys/values are defined in respective .tpl file
###############################################################
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ template "varadhi.name" . }}-{{ .Values.deployment.name }}-{{ .Values.varadhi.app.configMapName }}"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "varadhi.commonLabels" . | nindent 4 }}
    component: {{ .Values.deployment.name }}
data:
  configuration.yml: |
    {{- if or (eq .Values.deployment.name "server") (eq .Values.deployment.name "controller") (eq .Values.deployment.name "consumer") }}
    {{ include "configMap.varadhi.server" . | nindent 4 }}
    {{- end }}
